<!DOCTYPE html>
<head>
	<title>HabitTracker</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
	<meta http-equiv="content-language" content="en" />
	<meta name="author" content="Kaisa Halmetoja" />
	<!--<link rel="icon" type="image/png" href="favicon.png"><!---favIkoni--->
	<meta name="keywords" content="WWW design, habit, tracking, habit tracker" />
    <!-- responsiveness to evice size-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Own CSS -->
	<link href="../static/tracker/index.css" rel="stylesheet" type="text/css" />
    <!-- Icons library-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap Core CSS -->
    <link href="../static/tracker/css/bootstrap.min.css" rel="stylesheet">
     <!-- Bootstrap JavaScript -->
    <link href="../static/tracker/js/bootstrap.min.js" rel="script">
</head>

<body>
<!--<body style="background-color:#E6E6FA">-->
            <!-- Page Heading and Navigation-->
        <div class="row" id="navi">
            <div class="col-sm-9">
                <h1 id="hlt" class="page-header">Habit Tracker
                    <small>Slogan?</small>
                </h1>
            </div>
            <div class="col-sm-3">
		        <a href="statistics.html"><i class="material-icons" style="font-size:48px;color:#757575;">insert_chart</i></a>
		        <button class="hbutton" id="helpbtn" onclick="document.getElementById('help').style.display='block'"><i class="material-icons" style="font-size:48px;color:#757575;">help</i></button>
	        </div>
        </div>
        <!-- /.row -->

        <hr>

            <!-- Habit One -->
        <div class="row">
            <div class="col-xs-2">
                <name>Drink 1L water</name>
                <div class="grad" id="grad1"></div>
            </div>
            <div class="col-xs-10">
                <div class="habitbox">
                    <div class="bar">
                        <table>
                            <!--{% for item in habit.bar.all %}
                                    {% if habit.occurrence == '1' %}
                                        <td><input type="checkbox" checked/></td>
                                    {% else %}
                                        {% if habit.occurrence == '0' %}
                                        <td><input type="checkbox"/></td>
                                     {% else %}
                                        {% if habit.occurrence == '-1' %}
                                        <img src='{{disabled.png}}'/>
                                    {% endif %}-->
                             <tr>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox" /></td>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox" /></td>
                                 <td><input type="checkbox" checked/></td>
                                 <td><input type="checkbox" checked/></td>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox"/></td>
                                 <td><img src='../static/tracker/disabled.png'/></td>
                                 <td><img src='../static/tracker/disabled.png'/></td>
                                 <td><img src='../static/tracker/disabled.png'/></td>
                             </tr>
                            <!--{% endfor %}   -->
                        </table>
                    </div>
                    <div class="barbuttons">
                        <i class="material-icons" style="font-size:28px;color:#e84c3d;">clear</i><br>
                        <i class="material-icons" style="font-size:28px;color:#e84c3d;">refresh</i>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

                <!-- Habit Two -->
        <div class="row">
            <div class="col-xs-2">
                <name>Running for 5min</name>
                <div class="grad" id="grad2"></div>
            </div>
            <div class="col-xs-10">
                <div class="habitbox">
                    <div class="bar">
                        <table>
                            <!--{% for item in query_results %}-->
                             <tr>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox" /></td>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox" /></td>
                                 <td><input type="checkbox" checked/></td>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox"/></td>
                                 <td><input type="checkbox"/></td>
                                 <td><img src='../static/tracker/disabled.png'/></td>
                                 <td><img src='../static/tracker/disabled.png'/></td>
                                 <td><img src='../static/tracker/disabled.png'/></td>
                             </tr>
                            <!--{% endfor %}-->
                        </table>
                    </div>
                    <div class="barbuttons">
                        <i class="material-icons" style="font-size:28px;color:#e84c3d;">clear</i><br>
                        <i class="material-icons" style="font-size:28px;color:#e84c3d;">refresh</i>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

            <!-- Add Habit button -->
        <div class="col-xs-12">
		   <button class="hbutton" id="addbtn" onclick="document.getElementById('add').style.display='block'"><i class="material-icons" style="font-size:48px;color:#e84c3d;" >add_circle_outline</i></button>
        </div>


        <!--Modal window for adding habits-->
        <div id="add" class="modal">
            <div class="modal-content animate-zoom">
                <div class="container">
                    <a><span onclick="document.getElementById('add').style.display='none'" class="button.close">X</span></a>
                    <h2>What new habit would you like to start?</h2>
                    <ul>
                        <li><button class="hbutton" onclick="document.getElementById('add_habit').style.display='block';document.getElementById('add').style.display='none'"><a>Drinking water</a></button></li>
                        <li><button class="hbutton" onclick="document.getElementById('add_habit').style.display='block';document.getElementById('add').style.display='none'"><a>Meditating</a></button></li>
                        <li><button class="hbutton" onclick="document.getElementById('add_habit').style.display='block';document.getElementById('add').style.display='none'"><a>Running</a></button></li>
                        <li><button class="hbutton" onclick="document.getElementById('add_habit').style.display='block';document.getElementById('add').style.display='none'"><a>Say a complement to someone</a></button></li>
                        <li><button class="hbutton" onclick="document.getElementById('add_habit').style.display='block';document.getElementById('add').style.display='none'"><a>No TV in the evening</a></button></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Modal window for adding a habit-->
        <div id="add_habit" class="modal">
            <div class="modal-content animate-zoom">
                <div class="container">
                    <a><span onclick="document.getElementById('add_habit').style.display='none'" class="button.close">X</span></a>
                    <h2>What new habit would you like to start?</h2>
                    <div class="new_habit">
                            <label for="habit_name">Habit:</label>
                            <input type="text" class="form-control" placeholder="Do XX for XX minutes" id="habit_name">
                            <label for="occurrences">Times per week:</label>
                            <select class="form-control" id="occurrences">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                            </select>
                        <br>
                        <div class="modal_buttons">
                            <!--Go back button-->
                            <button class="hbutton" onclick="document.getElementById('add').style.display='block';document.getElementById('add_habit').style.display='none'"><i class="material-icons" style="font-size:36px;color:#e84c3d;" >arrow_back</i></button>
                            <!--Save button-->
                            <button class="hbutton" onclick="document.getElementById('add').style.display='none';document.getElementById('add_habit').style.display='none'"><i class="material-icons" style="font-size:36px;color:#82b940;" >done</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!--Modal window for help-->
        <div id="help" class="modal">
            <div class="modal-content animate-zoom">
                <div class="container">
                    <a><span onclick="document.getElementById('help').style.display='none'" class="button.close">X</span></a>
                    <h2>Welcome to Habit Tracker!</h2>
                    <p>Here will be helpful information about this thing</p>
                    <p>And maybe some motivational stuff and info about the app.</p>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright &copy; Habit Tracker 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    <!-- /.container -->

    <!-- Bootstrap jQuery -->
    <script src="../static/tracker/js/jquery.js"></script>
    <!-- Bootstrap Tether -->
    <script src="../static/tracker/js/tether.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/tracker/js/bootstrap.min.js"></script>



</body>


