<!DOCTYPE html>
<head>
	<title>HabitTracker</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
	<meta http-equiv="content-language" content="en" />
	<meta name="author" content="Kaisa Halmetoja" />
	<!--<link rel="icon" type="image/png" href="favicon.png"><!---favIkoni--->
	<meta name="keywords" content="WWW design, habit, tracking, habit tracker" />
    <!-- responsiveness to evice size-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Own CSS -->
	<link href="../static/tracker/index.css" rel="stylesheet" type="text/css" />
    <!-- Icons library-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap Core CSS -->
    <link href="../static/tracker/css/bootstrap.min.css" rel="stylesheet">
     <!-- Bootstrap JavaScript -->
    <link href="../static/tracker/js/bootstrap.min.js" rel="script">
</head>

<body>
<!--<body style="background-color:#E6E6FA">-->
            <!-- Page Heading and Navigation-->
        <div class="row" id="navi">
            <div class="col-sm-9">
                <h1 id="hlt" class="page-header">Habit Tracker
                    <small>Slogan?</small>
                </h1>
            </div>
            <div class="col-sm-3">
		        <a href="index.html"><i class="material-icons" style="font-size:48px;color:#757575;">home</i></a>
		        <a><button class="hbutton" id="helpbtn" onclick="document.getElementById('help').style.display='block'"><i class="material-icons" style="font-size:48px;color:#757575;">help</i></button></a>
	        </div>
        </div>
        <!-- /.row -->

        <!--Name row-->
        <div class="row">
            <div class="col-xs-2">
                <h3>Habit name</h3>
            </div>
            <div class="col-xs-4">
                <h3>Progress bar</h3>
            </div>
            <div class="col-xs-2">
                <h3>Success %</h3>
            </div>
            <div class="col-xs-2">
                <h3>Total repetitions</h3>
            </div>
        </div>


            <!-- Habit One -->
        <div class="row">
            <div class="col-xs-2">
                <h4>Habit 1 name</h4>
            </div>
            <div class="col-xs-4">
                <div class="statusbar">
                    <div class="statgrad_bad"></div>
                </div>
            </div>
            <div class="col-xs-2">
                <h4>XX%</h4>
            </div>
            <div class="col-xs-2">
                <h4>X in Y weeks</h4>
            </div>
        </div>
        <!-- /.row -->

        <hr>

                <!-- Habit Two -->
        <div class="row">
            <div class="col-xs-2">
                <h4>Habit 2 name</h4>
            </div>
            <div class="col-xs-4">
                <div class="grad">
                    <div class="grad_good"></div>
                </div>
            </div>
            <div class="col-xs-2">
                <h4>XX%</h4>
            </div>
            <div class="col-xs-2">
                <h4>X in Y weeks</h4>
            </div>
        </div>
        <!-- /.row -->

        <hr>


            <!--Modal window for help-->
        <div id="help" class="modal">
            <div class="modal-content animate-zoom">
                <div class="container">
                    <a><span onclick="document.getElementById('help').style.display='none'" class="button.close">X</span></a>
                    <h2>Welcome to Habit Tracker!</h2>
                    <div class="help-text">
                    <p>So you want to establish new habits and turn your life towards better? That’s awesome. <br>
                        We at Habit Tracker want to help you to achieve your goals a bit by bit. Here’s how it works: <br><br>
                    1.	Add a new habit by pushing the red plus mark. We have some suggestions for you, but you can also create your own. <br>Give name to your habit and possibly a duration, like “Meditate for 10 minutes”, and how many times you want to do this per week. <br>Remember, it’s easier to start with small steps! <br><br>
                    2.	Every time you have accomplished one occurrence of the habit, you can mark it down on the habit bar. This way it’s easier for you to follow how you proceed! <br> Next to the bar is a small colorful bar that shows you how you are doing.<br><br>
                    3.	You can see statistics about your habits on the statistics page. </p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Habit Tracker 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    <!-- /.container -->

    <!-- Bootstrap jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Tether -->
    <script src="js/tether.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>



</body>


