

/*Basic layout stuff */

.body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #9E9E9E;
}

.container{
	padding:0.01em 16px;
}

.page-header{
	padding-left: 20px;
	background: #FF5722;
}

#navi{
	background: #FF5722;
}

/* Modal windows*/
.modal{
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}

.modal-content{
	margin:auto;
	background-color:#fff;
	position:relative;
	padding:0;
	outline:0;
	width:50%;
	overflow-y: scroll !important;
	overflow-x: scroll !important;
	overflow-wrap: break-word;
}

.help-text{
    width: inherit
}

/*Buttons*/

.button.close{
	text-decoration: none;
	float: right;
	font-size: 34px;
	font-weight: bold;
	color: inherit;
}

/*basic UI navigation buttons*/

.hbutton{
	background-color: transparent;
	border: none;
	color: transparent;
}


/*Gradient bars*/


.grad{
  height: 40px;
  width: 100px;
  margin-left: 10px;
  box-shadow: 3px 3px 3px #888888;
  border-style: solid;
  border-width: 1px;
}

.grad_good{
  height: 38px;
  width: 100px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, yellow, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, yellow, green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, yellow, green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, yellow, green); /* Standard syntax */
 }

.grad_ok{
  height: 38px;
  width: 100px;
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, yellow, orange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, yellow, orange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, yellow, orange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, yellow, orange); /* Standard syntax */
 }

 .grad_bad{
  height: 38px;
  width: 100px;
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, yellow, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, yellow, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right , yellow, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, yellow, red); /* Standard syntax */
 }

.statusbar{
    height: 40px;
    width:300px;
    box-shadow: 3px 3px 3px #888888;
    border-style: solid;
    border-width: 1px;
}

.statgrad_good{
  height: 38px;
  width: 270px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, yellow, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, yellow, green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, yellow, green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, yellow, green); /* Standard syntax */
 }

.statgrad_ok{
  height: 38px;
  width: 180px;
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, green, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, green, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, green, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, green, yellow); /* Standard syntax */
 }

 .statgrad_bad{
  height: 38px;
  width: 90px;
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, yellow, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, yellow, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right , yellow, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, yellow, red); /* Standard syntax */
 }


/*Habit bar*/
.habitbox{
    width:600px;
    height: 80px;
    display: inline;
}

.barbuttons{
    width:50px;
    height: 80px;
    float: right;
    display: inline;
}

.bar{
    width: 486px;
    height: 50px;
    background: #EDEDED;
    box-shadow: 2px 2px 2px #888888;
    border: outset;
    border-color: #C9C9C9;
    border-width: 2px;
    margin-top: 10px;
    float: left;
}

/*checkboxes*/
input{
    width: 28px;
    height: 28px;
    margin-left: 2px;
    margin-top: 5px;
}

input[type=checkbox]:before{
    content:""; display:inline-block; width:28px; height:28px; background:grey;
}

input[type=checkbox]:checked:before {
    background:green;
}

/* checkbox images */
input[type=checkbox]:before{
    background: url(empty.png) #fff;
}

input[type=checkbox]:checked:before{
    background: url(check.png) #fff;
}

/*checkbox bar */

td{
    width: 36px !important;
    height: 24px !important;
    padding: 0px 0px 0px 3px !important;
}

.th{
    width: 36px !important;
    height: 10px !important;
    padding: 0px 0px 0px 3px !important;
    font-size: 10px !important;
    font-weight: normal;
}

.date{
    font-size: 10px !important;
    margin:0px 0px 0px 2px;
    width: 36px !important;
    height: 10px !important;
    padding: 0px 0px 0px 3px !important;
    font-size: 10px !important;
    font-weight: bold;
}


/*add habit*/
#occurrences{
    width: 10%;
    min-width: 70px;
    display: inline;
}

#habit_name{
    width: 20%;
    min-width: 100px;
    display: inline;
}


.new_habit{
    padding: 20px 20px 20px 50px;
    min-width: 200px;
}

.modal_buttons{
    padding-left: 40%;
}


/* Texts */
h1{
	font-family: Bernard MT; 
	font-weight: 800; 
	margin-left: 50px;
	font-size: 2em;
	color: #e84c3d;

}

h2{
	font-family: Arial, Times, Helvetica, Courier; 
	font-weight: 800; 
	margin-left: 50px;
	font-size: 24px !important;
	color: #e84c3d;
	min-width: 90%
}

h3{
	font-family: Arial, Times, Helvetica, Courier;
	font-size: 20px;
	color: #e84c3d;
	text-decoration: underline;
}

.small{
	color: #e84c3d;
    margin:0px 0px 0px 10px;
}

#hlt{
	color: #ffffff;
}

name{
    margin:0px 0px 0px 10px;
    font-size: 14px;
    font-family: Georgia, Palatino, serif;
}

a{
    text-color: black;
}

/*text effects*/

a:hover, a:active { 
	text-decoration: underline; 
	color: grey;
}

i:hover{
	color: grey;
	text-shadow: 1px 1px #9E9E9E;
}

.percentage-0 {
  width: 1%;
}

.percentage-1 {
  width: 1%;
}

.percentage-2 {
  width: 2%;
}

.percentage-3 {
  width: 3%;
}

.percentage-4 {
  width: 4%;
}

.percentage-5 {
  width: 5%;
}

.percentage-6 {
  width: 6%;
}

.percentage-7 {
  width: 7%;
}

.percentage-8 {
  width: 8%;
}

.percentage-9 {
  width: 9%;
}

.percentage-10 {
  width: 10%;
}

.percentage-11 {
  width: 11%;
}

.percentage-12 {
  width: 12%;
}

.percentage-13 {
  width: 13%;
}

.percentage-14 {
  width: 14%;
}

.percentage-15 {
  width: 15%;
}

.percentage-16 {
  width: 16%;
}

.percentage-17 {
  width: 17%;
}

.percentage-18 {
  width: 18%;
}

.percentage-19 {
  width: 19%;
}

.percentage-20 {
  width: 20%;
}

.percentage-21 {
  width: 21%;
}

.percentage-22 {
  width: 22%;
}

.percentage-23 {
  width: 23%;
}

.percentage-24 {
  width: 24%;
}

.percentage-25 {
  width: 25%;
}

.percentage-26 {
  width: 26%;
}

.percentage-27 {
  width: 27%;
}

.percentage-28 {
  width: 28%;
}

.percentage-29 {
  width: 29%;
}

.percentage-30 {
  width: 30%;
}

.percentage-31 {
  width: 31%;
}

.percentage-32 {
  width: 32%;
}

.percentage-33 {
  width: 33%;
}

.percentage-34 {
  width: 34%;
}

.percentage-35 {
  width: 35%;
}

.percentage-36 {
  width: 36%;
}

.percentage-37 {
  width: 37%;
}

.percentage-38 {
  width: 38%;
}

.percentage-39 {
  width: 39%;
}

.percentage-40 {
  width: 40%;
}

.percentage-41 {
  width: 41%;
}

.percentage-42 {
  width: 42%;
}

.percentage-43 {
  width: 43%;
}

.percentage-44 {
  width: 44%;
}

.percentage-45 {
  width: 45%;
}

.percentage-46 {
  width: 46%;
}

.percentage-47 {
  width: 47%;
}

.percentage-48 {
  width: 48%;
}

.percentage-49 {
  width: 49%;
}

.percentage-50 {
  width: 50%;
}

.percentage-51 {
  width: 51%;
}

.percentage-52 {
  width: 52%;
}

.percentage-53 {
  width: 53%;
}

.percentage-54 {
  width: 54%;
}

.percentage-55 {
  width: 55%;
}

.percentage-56 {
  width: 56%;
}

.percentage-57 {
  width: 57%;
}

.percentage-58 {
  width: 58%;
}

.percentage-59 {
  width: 59%;
}

.percentage-60 {
  width: 60%;
}

.percentage-61 {
  width: 61%;
}

.percentage-62 {
  width: 62%;
}

.percentage-63 {
  width: 63%;
}

.percentage-64 {
  width: 64%;
}

.percentage-65 {
  width: 65%;
}

.percentage-66 {
  width: 66%;
}

.percentage-67 {
  width: 67%;
}

.percentage-68 {
  width: 68%;
}

.percentage-69 {
  width: 69%;
}

.percentage-70 {
  width: 70%;
}

.percentage-71 {
  width: 71%;
}

.percentage-72 {
  width: 72%;
}

.percentage-73 {
  width: 73%;
}

.percentage-74 {
  width: 74%;
}

.percentage-75 {
  width: 75%;
}

.percentage-76 {
  width: 76%;
}

.percentage-77 {
  width: 77%;
}

.percentage-78 {
  width: 78%;
}

.percentage-79 {
  width: 79%;
}

.percentage-80 {
  width: 80%;
}

.percentage-81 {
  width: 81%;
}

.percentage-82 {
  width: 82%;
}

.percentage-83 {
  width: 83%;
}

.percentage-84 {
  width: 84%;
}

.percentage-85 {
  width: 85%;
}

.percentage-86 {
  width: 86%;
}

.percentage-87 {
  width: 87%;
}

.percentage-88 {
  width: 88%;
}

.percentage-89 {
  width: 89%;
}

.percentage-90 {
  width: 90%;
}

.percentage-91 {
  width: 91%;
}

.percentage-92 {
  width: 92%;
}

.percentage-93 {
  width: 93%;
}

.percentage-94 {
  width: 94%;
}

.percentage-95 {
  width: 95%;
}

.percentage-96 {
  width: 96%;
}

.percentage-97 {
  width: 97%;
}

.percentage-98 {
  width: 98%;
}

.percentage-99 {
  width: 99%;
}

.percentage-100 {
  width: 100%;
}

