
/*
.animate-zoom {
	-webkit-animation:animatezoom 0.6s;
	animation:animatezoom 0.6s
}
*/


/*Basic layout stuff */

.body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #9E9E9E;
}

.container{
	padding:0.01em 16px;
}

.page-header{
	padding-left: 20px;
	background: #FF5722;
}

#navi{
	background: #FF5722;
}

/* Modal windows*/
.modal{
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}

.modal-content{
	margin:auto;
	background-color:#fff;
	position:relative;
	padding:0;
	outline:0;
	width:50%;
}

/*Buttons*/

.button.close{
	text-decoration: none;
	float: right;
	font-size: 34px;
	font-weight: bold;
	color: inherit;
}

.hbutton{
	background-color: transparent;
	border: none;
	color: transparent;
}

/*
.rowbtn:hover{
	text-decoration: underline;
	color: grey;
	text-shadow: 1px 1px #9E9E9E;
}
/*Gradient bars*/


.grad{
  height: 40px;
  width: 100px;
  margin-left: 10px;
}

#grad1{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red , yellow); /* Standard syntax */
 }

#grad2{
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, green , yellow, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, green , yellow, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, green , yellow, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, green , yellow, red); /* Standard syntax */
 }

.statgrad{
  height: 40px;
  width: 300px;
  margin: 10px 0px 10px 10px;
  box-shadow: 3px 3px 3px #888888;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

#statgrad1{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red , yellow); /* Standard syntax */
 }

#statgrad2{
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, green , yellow, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, green , yellow, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, green , yellow, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, green , yellow, red); /* Standard syntax */
 }


/*Habit bar*/
.habitbox{
    width:600px;
    height: 80px;
    display: inline;
}

.barbuttons{
    width:50px;
    height: 80px;
    float: right;
    display: inline;
}

.bar{
    width: 486px;
    height: 50px;
    background: #EDEDED;
    border: outset;
    border-color: #C9C9C9;
    border-width: 2px;
    margin-top: 10px;
    float: left;
}

/*checkboxes*/
input{
    width: 28px;
    height: 28px;
    margin-left: 2px;
    margin-top: 5px;
}

input[type=checkbox]:before{
    content:""; display:inline-block; width:28px; height:28px; background:grey;
}

input[type=checkbox]:checked:before {
    background:green;
}

/* checkbox images */
input[type=checkbox]:before{
    background: url(empty.png) #fff;
}

input[type=checkbox]:checked:before{
    background: url(check.png) #fff;
}

/*checkbox bar */

td{
    width: 36px !important;
    height: 24px !important;
    padding: 0px 0px 0px 3px !important;
}

.th{
    width: 36px !important;
    height: 10px !important;
    padding: 0px 0px 0px 3px !important;
    font-size: 10px !important;
    font-weight: normal;
}

.date{
    font-size: 10px !important;
    margin:0px 0px 0px 2px;
    width: 36px !important;
    height: 10px !important;
    padding: 0px 0px 0px 3px !important;
    font-size: 10px !important;
    font-weight: bold;
}


/*add habit*/
#occurrences{
    width: 10%;
    min-width: 70px;
    display: inline;
}

#habit_name{
    width: 20%;
    min-width: 100px;
    display: inline;
}


.new_habit{
    padding: 20px 20px 20px 50px;
    min-width: 200px;
}

.modal_buttons{
    padding-left: 40%;
}


/* Texts */
h1{
	font-family: Bernard MT; 
	font-weight: 800; 
	margin-left: 50px;
	font-size: 2em;
	color: #e84c3d;

}

h2{
	font-family: Arial, Times, Helvetica, Courier; 
	font-weight: 800; 
	margin-left: 50px;
	font-size: 24px !important;
	color: #e84c3d;
	min-width: 90%
}

h3{
	font-family: Arial, Times, Helvetica, Courier;
	font-size: 20px;
	color: #e84c3d;
	text-decoration: underline;
}

.small{
	color: #e84c3d;
    margin:0px 0px 0px 10px;
}

#hlt{
	color: #ffffff;
}

name{
    margin:0px 0px 0px 10px;
    font-size: 14px;
    font-family: Georgia, Palatino, serif;
}

a{
    text-color: black;
}

a:hover, a:active { 
	text-decoration: underline; 
	color: grey;
}

i:hover{
	color: grey;
	text-shadow: 1px 1px #9E9E9E;
}

