<!DOCTYPE html>
<html lang="en">

<!-- load static url -->
{% load static %}


<!-- head -->
<head>
    <meta charset="UTF-8">
    <title>Habit Tracker - {% block title %}Wellcome!{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="author" content="Kaisa Halmetoja" />
    <!--<link rel="icon" type="image/png" href="favicon.png"><!---favIkoni--->
    <meta name="keywords" content="WWW design, habit, tracking, habit tracker" />
    <!-- responsiveness to evice size-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Own CSS -->
    <link href="{% static "tracker/index.css" %}" rel="stylesheet" type="text/css" />
    <!-- Icons library-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap Core CSS -->
    <link href="{% static "tracker/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Bootstrap JavaScript -->
    <link href="{% static "tracker/js/bootstrap.min.js" %}" rel="script">
</head>


<!-- body -->
<body>
<!-- Header -->
<div class="row" id="navi">
    <div class="col-sm-9">
        <h1 id="hlt" class="page-header"><a href="{% url "tracker:mainpage" %}">Habit Tracker</a>
            <small>teaching you your habits</small>
        </h1>
    </div>
    <div class="col-sm-3">
        {% block link %}{% endblock %}
        <button class="hbutton" id="helpbtn" onclick="document.getElementById('help').style.display='block'"><i class="material-icons" style="font-size:48px;color:#757575;">help</i></button>
    </div>
</div>
<!-- /.row -->


<!-- show login / logout -->
{% block login_register %}
    {% if user.is_authenticated %}
        loged user: {{ username }} <a href="{% url 'users:logout' %}">logout</a>
    {% else %}
        <a href="{% url 'users:login' %}">log in</a>
        <a href="{% url 'users:registration_register' %}">+ register new user</a>
    {% endif %}
    <hr>
{% endblock %}


<!-- render body -->
{% block body %}{% endblock %}


    <!--Modal window for help-->
        <div id="help" class="modal">
            <div class="modal-content animate-zoom">
                <div class="container">
                    <a><span onclick="document.getElementById('help').style.display='none'" class="button.close">X</span></a>
                    <h2>Welcome to Habit Tracker!</h2>
                    <div class="help-text">
                    <p>So you want to establish new habits and turn your life towards better? That’s awesome. <br>
                        We at Habit Tracker want to help you to achieve your goals a bit by bit. Here’s how it works: <br><br>
                    1.	Add a new habit by pushing the red plus mark. We have some suggestions for you, but you can also create your own. <br>Give name to your habit and possibly a duration, like “Meditate for 10 minutes”, and how many times you want to do this per week. <br>Remember, it’s easier to start with small steps! <br><br>
                    2.	Every time you have accomplished one occurrence of the habit, you can mark it down on the habit bar. This way it’s easier for you to follow how you proceed! <br> Next to the bar is a small colorful bar that shows you how you are doing.<br><br>
                    3.	You can see statistics about your habits on the statistics page. </p>
                    </div>
                </div>
            </div>
        </div>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-xs-12">
            <p>Copyright &copy; Habit Tracker 2016</p>
        </div>
    </div>
    <!-- /.row -->
</footer>

<!-- load javascripts -->
<!-- Bootstrap jQuery -->
<script src="{% static "tracker/js/jquery.js" %}"></script>
<!-- Bootstrap Tether -->
<script src="{% static "tracker/js/tether.js" %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "tracker/js/bootstrap.min.js" %}"></script>
</body>


</html>