{% extends 'tracker/basetemplate.html' %}
{% block title %}Habits{% endblock %}
{% block link %}<a href="{% url 'tracker:statistics' %}"><i class="material-icons" style="font-size:48px;color:#757575;">insert_chart</i></a>{% endblock %}
{% block body %}
    {% load mainpage_filters %}
    <!-- load static url -->
    {% load static %}

        {% comment %}<form method="POST" action="{% url 'tracker:mainpage' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type=submit value="Save order">
        </form>{% endcomment %}
        <br>
        <br>
        {% for habit in habit_items %}
            <!-- Habit One -->
            <div class="row">
                <div class="col-xs-2">
                    <!--Habit name-->
                    <a href="{% url 'tracker:edit_habit' habit.habit.id %}"><name>{{ habit|name_formated }}</name></a>
                    <!--Habit progress bar-->
                    <div class="grad">
                        <div class="grad_{{ habit.speed|ratio_to_grad }}">{{habit.speed|ratio_to_percents}}</div>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="habitbox">
                        <div class="bar">
                            <table>
                                <tr>
                                    <!-- show dates -->
                                    <!--    for past and today -->
                                    {% for date in dates %}
                                        <th class="date">{{date|date_formated}}</th>
                                    {% endfor%}
                                    <!--    for future -->
                                    {% for date in future_dates %}
                                        <th class="date">{{date|date_formated}}</th>
                                    {% endfor%}
                                </tr>
                                <tr>
                                    <!-- first n days -->
                                    {% for record in habit.records_table %}
                                        <td>
                                            <!-- print record as desired checkbox in desirable state -->
                                            {% if record == record_values.SUCCESS  %}
                                                <a href="{% url 'tracker:edit_record' habit.habit.id forloop.revcounter0 %}">
                                                    <img src='{% static "tracker/check.PNG" %}'/>
{#                                                    <input type="{{ record|render_checkbox }}" checked="{{ record|checkbox_state }}" />#}
                                                </a>
                                            {% else %}
                                                {% if record == record_values.FAIL  %}
                                                    <a href="{% url 'tracker:edit_record' habit.habit.id forloop.revcounter0 %}">
                                                    <img src='{% static "tracker/empty.PNG" %}'/>
{#                                                        <input type="{{ record|render_checkbox }}"/>#}
                                                    </a>
                                                {% else %}
                                                    <!-- display empty column for days before habit started -->
                                                     <img src='{% static "tracker/no-record.png" %}'/>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}

                                    <!-- today -->
                                    <!-- TODO render today differently -->
                                    {# <img src='{% static "tracker/today.png" %}'/> #}

                                    <!-- last four disabled fields -->
                                    {% for date in future_dates %}
                                        <td>
                                            <img src='{% static "tracker/disabled.png" %}'/>
                                        </td>
                                    {% endfor%}
                                </tr>
                            </table>
                        </div>
                        <div class="barbuttons">
                            <a href="{% url 'tracker:drop_habit' habit.habit.id %}"><i class="material-icons" style="font-size:28px;color:#e84c3d;">clear</i><br></a>
                            <a href="{% url 'tracker:restart_habit' habit.habit.id %}"><i class="material-icons" style="font-size:28px;color:#e84c3d;">refresh</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <hr>
        {% empty %}
            <p>No habits are available.</p>
        {% endfor %}

    <!-- Add Habit button -->
    <div class="col-xs-12">
{#    Open a pop -up window#}
{#        <button class="hbutton" id="addbtn" onclick="document.getElementById('add').style.display='block'"><i class="material-icons" style="font-size:48px;color:#e84c3d;" >add_circle_outline</i></button>#}
        <!---redirect to add form -->
        <a href="{% url 'tracker:add_habit' %}" >
            <button class="hbutton" id="addbtn"><i class="material-icons" style="font-size:48px;color:#e84c3d;" >add_circle_outline</i></button>
        </a>
    </div>


    {% comment %}
    <!--- debug purposes -->
    <p>
        <a href="{% url 'tracker:add_habit' %}"> + add new</a>
    </p>
    <p>
        <a href="{% url 'tracker:resetdb' %}">reset db</a>
    </p>{% endcomment %}


    <script>
        default_habit = "Do XX for XX minutes";
        habit = default_habit;
    </script>


    <!--Modal window for proposing new habits-->
    <div id="add" class="modal">
        <div class="modal-content animate-zoom">
            <div class="container">
                <a><span onclick="document.getElementById('add').style.display='none'" class="button.close">X</span></a>
                <h2>What new habit would you like to start?</h2>
                <ul>
                    {% for habit in new_habits %}
                        <li>
                            <button class="hbutton"
                                    id = "new_habit_{{ forloop.counter }}"
                                    onclick="document.getElementById('add_habit').style.display='block';
                                             document.getElementById('add').style.display='none';
                                             habit = $(this).text();
                                             document.getElementsByName('new_habit_input')[0].placeholder = habit;
                                             window.location.href = '{% url "tracker:add_habit" %}';
                                            "
                            >
                                <a>{{ habit }}</a>
                            </button></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal window for adding a habit-->
    <div id="add_habit" class="modal">
        <div class="modal-content animate-zoom">
            <div class="container">
                <a><span onclick="document.getElementById('add_habit').style.display='none'" class="button.close">X</span></a>
                <h2>What new habit would you like to start?</h2>
                <div class="new_habit">
                    <label for="habit_name">Habit:</label>
                    <input type="text" class="form-control" placeholder="Do XX for XX minutes" id="habit_name" name="new_habit_input">
                    <label for="occurrences">Times per week:</label>
                    <select class="form-control" id="occurrences">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option selected = "selected">7</option>
                    </select>
                    <br>
                    <div class="modal_buttons">
                        <!--Go back button-->
                        <button class="hbutton" onclick="document.getElementById('add').style.display='block';document.getElementById('add_habit').style.display='none'"><i class="material-icons" style="font-size:36px;color:#e84c3d;" >arrow_back</i></button>
                        <!--Save button-->
                        <button class="hbutton"
                                onclick="document.getElementById('add').style.display='none';
                                         document.getElementById('add_habit').style.display='none';
                                        ">
                            <i class="material-icons" style="font-size:36px;color:#82b940;" >done</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


