{% extends 'tracker/basetemplate.html' %}
{% block title %}Login{% endblock %}
{% block login_register %}{% endblock %}
{% block body %}

    <!--- show login form-->
    <h2>Log in:</h2>
    <div class="login">
    <form action="{% url 'users:login' %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {% for field in form %}
            <label>{{ field.label }}</label>
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            {{ field }}
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}" />
        <br>
        <br>
        <input class="button small" type="submit" value="Log in"/>
    </form>
    <br>
    <a href="{% url 'users:registration_register' %}"> + register new user</a>
    </div>




    <style>

        .login {
            max-width: 300px;
            align-content: center;
            margin-left: 20px;
        }

        input {
            width: 100%;
        }


    </style>

{% endblock %}