.modal{
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}

.modal-content{
	margin:auto;
	background-color:#fff;
	position:relative;
	padding:0;
	outline:0;
	width:600px;
}
/*
.animate-zoom {
	-webkit-animation:animatezoom 0.6s;
	animation:animatezoom 0.6s
}
*/

.container{
	padding:0.01em 16px;
}

.button.close{
	text-decoration:none;
	float:right;
	font-size:34px;
	font-weight:bold;
	color:inherit;
}



.body{
	/*float:left;
	margin-top: 10px;
	margin-left: 10px;*/
	font-family: Arial, Helvetica, sans-serif;
	background-color: #9E9E9E;
}



#page-header{
	padding-left: 10px;
	background: #9E9E9E;
}
	
/*

#header{
	position:relative;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 200px;
	height: 100px;
	width: auto;
	padding: 0;
	background: #9E9E9E;
	

}


#content{
	position:relative;
	width: 76%;
	top: -200px;
	left: 110px;
	bottom: 10px;
	background-color:#E1E6E1;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 10px;

}

#menu{
	opacity:0.4;
	filter:alpha(opacity=40);
	
	position:relative;
	height:200px;
	width:100px;

	background-color: #FFFFFF;
	padding: 0px;
	top: 80px;
	bottom: 10px;
	left: 5px;
	width: 100px;
	border: 1px solid #5A5A5A;

}

#sidebar{
	opacity:0.2;
	filter:alpha(opacity=20);
	position:relative;
	float: right;
	height:200px;
	width:100px;
	
	background-color: #D8E2E4;
	padding: 10px;
	top: -710px;
	bottom: 100px;
	right: 5px;
}


#footer{
   	bottom:0;
   	width:100%;
   	height:20px;
	background-color: #CCCCCC;
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: 600;
	border-top: 5px solid black;

}

*/
h1{
	font-family: Bernard MT; 
	font-weight: 800; 
	margin-left: 50px;
	font-size: 2em;
	color: #e84c3d;

}

h2{
	font-family: Arial, Times, Helvetica, Courier; 
	font-weight: 800; 
	margin-left: 50px;
	font-size: 1em;
	color: #e84c3d;
}

h3{
	font-family: Arial, Times New Roman, Helvetica, Courier; 
	font-weight: 800; 
	margin-left: 50px;
	font-size: 0.5em;
	color: #e84c3d;
}

small{
	color: #e84c3d;
}

.button {
	background-color: transparent;
	border: none;
	color: transparent;
}
	

/*
ul{
	font-family: 'Coda', Arial, serif;
	list-style-type:none;
	margin-top: 30px;
	margin-left: -55px;
	margin-bottom: 10px;
	margin:10;
	padding:2;

}

li {
	display:inline;
	margin-left: 20px;
}

img{
	margin-left: 5px;

}

a:link { 
	text-decoration: none; 
	color: #000;
	text-shadow: 1px 1px #000000;
}

a:visited { 
	text-decoration: none; 
	color: #1e07a3;
	text-shadow: 1px 1px #000000;
}
*/
a:hover, a:active { 
	text-decoration: underline; 
	color: grey;
	text-shadow: 1px 1px #000000;
}
/*

p{
	margin-top: 10px;
	margin-left: 10px; 
	font-size: 0.9em;
	line-height: 1.6em;
	color:#000;

}
*/