<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>habits</title>
</head>
<body>
{% load mainpage_extras %}

Hello from habits.html
{% if habit_elements %}
    <ul>
    {% for habit in habit_elements %}
        <li>{{ habit.habit_name }}
            <ul>{% for record in habit.records_list %}
                <li>{{record}}</li>
                {% endfor %}
            </ul>
        </li>

    {% endfor %}
    </ul>
{% else %}
    <p>No habits are available.</p>
{% endif %}
</body>
</html>