<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>habits</title>
</head>
<body>
{% load mainpage_filters %}

Hello from habits.html<br>
<br>
Habits:
{% if habit_items %}
    <ul>
    {% for habit in habit_items %}
        <li>speed {{habit.speed|speed_in_percent}} - <b>{{ habit|name_formated }}</b><br>
            <br>
            habit_id: {{habit.habit.id}},   starting date: {{habit.habit.starting_date}}
            <ul>{% for record in habit.records_table %}
                <li>{{record}}</li>
                {% endfor %}
            </ul>
        </li>

    {% endfor %}
    </ul>
{% else %}
    <p>No habits are available.</p>
{% endif %}
Dates with records:
<ul>
{% for date in dates %}
    <li>{{date|date_formated}}</li>
{% endfor%}
</ul>
Dates in future:
<ul>
{% for date in future_dates %}
    <li>{{date|date_formated}}</li>
{% endfor%}
</ul>
</body>
</html>